audit=true
audit-level=high
registry=https://registry.npmjs.org/
min-release-age=3
strict-allow-scripts=true
allow-directory=none
allow-file=none
allow-git=none
allow-remote=none
save-exact=true
strict-peer-deps=true
